<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812908205761-f648l5na2m2ue5u1gfokhrafobldh6c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812908205761-f648l5na2m2ue5u1gfokhrafobldh6c9</string>
	<key>API_KEY</key>
	<string>AIzaSyBcuZlINXc0j5rYk4L_Vk7HK7i_IbIDnnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>812908205761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-demo-eeaa2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-demo-eeaa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812908205761:ios:ba5a12013d313b95ebe640</string>
	<key>DATABASE_URL</key>
	<string>https://fir-flutter-demo-eeaa2.firebaseio.com</string>

	
</dict>
</plist>